{% extends 'base.html' %}
{% block content %}
        <form action="" method="post" class="align-self-center">
            {% csrf_token % %}
            <label class="form-label">Search for location:</label>
            <input type="text" name="searchLocation">
            <button type="submit">Search</button>
        </form>
        <div class='current-location-content align-self-center'>
          <div>
            <p>
              <span class="title">{{ weather.city }}</span>
              <br>
              <span class = "subtitle">{{ weather.temperature }}</span>
              <br> {{ weather.description }}
              <br> {{ error.message }}
            </p>
        </div>
      </div>
{% endblock content %}