<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      <div class="navbar"></div>
      <div class="main-app">
        <form action="" method="post">
            {% csrf_token % %}
            <label class="form-label">Search for location:</label>
            <input type="text" name="searchLocation">
            <button type="submit">Search</button>
        </form>
        <div class='current-location-content'>
          <div class='content'>
            <p>
              <span class="title">{{ weather.city }}</span>
              <br>
              <span class = "subtitle">{{ weather.temperature }}</span>
              <br> {{ weather.description }}
              <br> {{ error.message }}
            </p>
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
