{% extends 'base.html' %}
{% block content %}
<form action="" method="post" class="d-flex align-self-center form-floating">
  {% csrf_token % %}
  <input type="text" name="searchLocation" class="form-control" id="floatingInputValue" placeholder="Cape Town">
  <label for="floatingInputValue">Input with value</label>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<div id='main-container' class='d-flex flex-column current-location-content flex-fill'>
  <div id="today" class="flex-column flex-grow-1 h-80">
    <div class="title-container d-flex">
      <div class="fs-1 p-2">City: </div>
      <div class="title fs-1 p-2">{{ weather.city }}</div>
    </div>
    <div class="current-info-container d-flex flex-wrap">
      <div class="flex-grow-1" style="max-width: 20vw;">
        <img alt="weather-picture">
      </div>
      <div class="weather-info flex-grow-1">
        <div class="fs-2 p-4">Temperature: {{ weather.temperature }}</div>
        <div class="fs-2 p-4">Conditions: {{ weather.description }}</div>
      </div>
    </div>
    <div> {{ error.message }}</div>
  </div>
  <div id="seven-day" class="flex-grow-1" style="max-height: 150px">
    <h1>7 Day Forecast</h1>
  </div>
</div>

{% endblock content %}